.profile-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  gap: 12px;
  width:100%;
  color: #333333;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
}

.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #4caf50; /* viền xanh nhạt */
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-name {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
}

.profile-desc {
  margin: 0;
  font-size: 0.85rem;
  color: #7f8c8d;
}
