.home-container {
    position:relative;
    overflow: hidden;
    transition: transform 0.3s ease, filter 0.4s ease;
    background-color: #000000;
    display: flex;
    justify-content: space-between; /* căn ngang */
    align-items: center;
    font-size: 17px;           /* căn dọc */
}
    .MainScreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100% ;
        height: 100vh;
        border-radius: 10px;
        background-color: #1a1a1a;
    }
        .sidebarside {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .UpcommingAppointments {
            display: flex;
            border-radius: 12px;
            flex-direction: row;
            align-items: flex-start;
            width: 90%;
            padding: 10px;
            margin-top: 30px;
            background-color: rgba(148, 255, 162, 0.329);
        }
        .Buttons
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: 15px;
            height: 10%;
        }
.shrink 
{
    transform: scale(0.95) translateY(-50px);
    filter: brightness(0.8);
}