.appointment-card {
  background: #d7ffd7; /* xanh nhạt giống hình */
  border-radius: 12px;
  padding: 16px;
  flex: 1;
  margin: 10px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: black;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

  .detail-btn {

    background: #9aff9a;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
    position: relative;
    overflow: hidden;
    transition: background 0.1s ease;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
  }

      /*.detail-btn:hover {
        background: #70ff70;
      }*/
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:30%;
    width:100%
  }
    .key {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      font-weight: bold;
    }
    .value {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
.detail-btn:hover {
  box-shadow: 0 0 0 3px #000000 inset; /* Viền sáng bên trong */
  transform: scale(1.2); /* hơi phóng to 1 chút */
}