.bottomsheet {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none; /* Mặc định không nhận click khi ẩn */
  transition: background 0.3s ease;
  z-index: 100;
}

/* Lớp nền mờ */
.overlay {
  position: fixed;
  inset: 0;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Thân sheet */
.content {
  background-color: #ffffff;
  height: 90vh;
  width: 80%;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: translateY(100%);
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.3, 1);
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.15);
}

/* Nút drag */
.dragbutton {
  background-color: #777676;
  height: 5px;
  width: 50px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Khi mở sheet */
.bottomsheet.open {
  pointer-events: auto;
}

.bottomsheet.open .overlay {
  opacity: 0.3;
  pointer-events: all;
}

.bottomsheet.open .content {
  transform: translateY(0%);
}

/* Khi tắt sheet */
.bottomsheet:not(.open) .content {
  transform: translateY(100%);
}
